body {
		font-family: "ITC Avant Garde Gothic",Univers,Futura,"ITC Stone Sans","Gill Sans","Akzidenz Grotesk",Helvetica;
		font-size: 1rem;
		text-align: center;
	}

h1 {
	color: #600000; /* #2b7eb8 */
	text-decoration: underline;
}

.main-output {
	padding: 1% 7% 1% 7%;
	margin: auto;

}

.main-menu {
	margin: 10px 0 0 0;
	height: 3rem;
}

.main-menu a {
	color: #600000; /* 29595d */
	text-decoration: none;
	font-weight: 400;
	font-size: 1.3rem;
}

.main-menu a:hover{
	color: #ff8080;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 900;
}

.logo-img {
	
}

.footer {
	margin: 5% 0 0 0;
	font-size: .9rem;
}

.form-title-left {
	padding-top: 4px;
	padding-left: 15px;
	font-size: 1.3rem;
}

table.dataTable tr.odd {
	background-color: #fffef2;
}

/* Add button and number of records */
.ui-widget-header {
    border: 0.5px solid #e5c883;
    background: #fffef2;
    color: #600000;
    font-weight: bold;
}

/* Table inside borders */
table.dataTable thead th {
    padding: 3px 18px 3px 10px;
    border-bottom: 2px solid #f4d8ac;
}

/* Table column titles & background */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 0.5px solid #e5c883;
	//background: #fffef2;
	//font-weight: normal;
	color: #ff8080;
}

/* Form odd row */
.form-field-box.odd {
	background: #f4d8ac;
}

/* Form even row */
.form-field-box.even {
	background: #fffef2;
}

.chosen-container-single .chosen-default {
	color: #ff8080;
}

.grocerycrud-container {
	font-family: Verdana,Arial,sans-serif;
	font-size: 15px;
	color: #600000;
}

.groceryCrudTable tfoot tr th input[type="text"], .datatables div.form-div input[type="text"], .datatables div.form-div textarea, .datatables div.form-div select {
	color: #600000;
	border: 2px solid #fffef2;
}
/* Centers table's column titles */
table.display thead th div.DataTables_sort_wrapper {
	text-align: center;
}

table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 2px solid #e5c883;
	font-weight: bold;
}

table.dataTable td.center, table.dataTable td.dataTables_empty {
	color: #600000;
}

table.dataTable tr.odd td.sorting_1 {
	background-color: #f4d8ac;
}

table.dataTable tr.even td.sorting_1 {
	background-color: #fffef2;
}

button.DTTT_button, div.DTTT_button, a.DTTT_button {
	border: 1px solid #999;
	font-size: 0.88em;
	color: #600000 !important;
	background: -moz-linear-gradient(top, #fffef2 0%,#f4d8ac 89%,#f4d8ac 100%);
}

button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
	border: 1px solid #666;
	background: #f4d8ac;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
	background: -moz-linear-gradient(top, #fffef2 0%,#f4d8ac 89%,#f4d8ac 100%);
}

.ui-button-text-icon-primary .ui-button-text:hover, .ui-button-text-icons .ui-button-text:hover {
	background: #f4d8ac;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #ff8080;
}

.datatables div.form-div {
	color: #600000;
}

/*
PlanetJupiter plus wine Color Palette

Wine 			#600000
Light pink		#ff8080
Dark beige		#e5c883
Cream			#f4d8ac
Light cream		#fffef2

*/